body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Přidání lehkého stínu */
}

h1 {
    margin: 0;
}

.container-fluid {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
}

.modal-body {
    padding: 20px;
}

.modal-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.close {
    font-size: 1.5rem;
    color: #6c757d;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Nové úpravy pro záhlaví */
header h1 {
    margin-bottom: 10px;
}

header .filter-dropdown {
    margin-right: 10px; /* Prostor mezi dropdownem a tlačítky */
}

@media (max-width: 768px) {
    header .filter-dropdown {
        margin-bottom: 10px; /* Prostor mezi dropdownem a tlačítky na menších obrazovkách */
    }
}

